/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.label-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  align-items: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
}

header nav ul li {
  list-style-type: none;
  display: inline;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  margin: 20px;
  padding: 20px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  margin-bottom: 0px;
  width: 180px;
}

form button {
  display: flex;
  align-items: center;
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;
}

/* -------  Media Query ------- */
@media all and (min-width: 800px) {

  .logo {
    font-size: 36px;
    margin-right: auto;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu {
    padding-right: 0px;
  }
  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  
  .form-div {
    display: flex;
    flex-wrap: wrap;
  }
  .label-input {
    display: flex;
    flex-direction: column;
  }

   form button {
    margin-left: auto;
    width: 100px;
  }

  #about img {
    width: 25%;
    margin: 10px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item {
    padding: 10px;
  }

  #ideas img {
    width: 100%;
  }

  #host img {
    width: 50%;
  }
  .host-div {
    display: flex;
    align-items: center;
  }
}